<div class="d-flex justify-content-center flex-column align-items-center">

  <div
    class="col-10 d-flex flex-column border border-primary align-items-center"
  >

    <h1>{{body}}</h1>

    <h2>{{title}}</h2>

    <h3>{{subTtitle}}</h3>

  </div>

  <div class="col-8 d-flex flex-column border border-primary text-center m-5">

    <h2>Bienvenido: {{user.name}} {{user.lastName}}</h2>

    <div class="m-5">
      <a class="btn btn-primary" href="/profile" role="button">Profile</a>
      <a
        class="btn btn-primary"
        href="/configuracion"
        role="button"
      >Configuracion</a>
      <a class="btn btn-primary" href="/products" role="button">E-commerce</a>
    </div>

  </div>
</div>

<script src="static/js/home.js"></script>